<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Files">
  
  <insert id="insert">
  	insert into files values(files_seq.nextval, #{oriName}, #{sysName}, #{parent_seq})
  </insert>
  
  <select id="selectAll" resultType="kh.spring.dto.FilesDTO">
 	 select * from files
  </select>
  
  <select id="getOriName" resultType="String">
  	select oriname from files where parent_seq = #{seq}
  </select>
  
  <select id="getSysName" resultType="String">
  	select sysname from files where parent_seq = #{seq}
  </select>
  
  
  </mapper>